

.header{
border: 1px solid #ddd;
display: flex;
align-items: center;
  padding: 10px;
justify-content: space-between;
}
.header_btn{
  padding: 10px 20px;
}
/* .headingH1{
  text-align: center;
  color:red
} */

.taskList{
  border: 1px solid #ddd;
  padding: 10px;
}
.one_task{
  display: flex;
  justify-content: space-between;
}